/* Main body text elements */
body {
	background-color:white;
}

/* Menu bar styling */
#menubar {
	list-style-type:none;
	width:200px;
	margin:0;
	padding:0;
	border:1px solid;
	height:100%;
	background-color:gray;
}
#menubar li {
	line-height:50px;
	font-size:25px;
}
#menubar a {
	display:block;
	text-decoration:none;
	background-color:gray;
	color:gold;
	text-align:czenter;
}
#menubar a:hover {
	background-color:lightgray;
	color:red;
}
#menubar .active {
	background-color:black;
	color:gold;
}

/* Div containters for calculator display */
#calculator {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:500px;
}
#exp {
	background-color:gray;
	color:white;
	border:solid 1px;
	height:30px;
	font-size:20px;
	text-align:right;
}
#res {
	background-color:white;
	border:solid 1px;
	height:60px;
	font-size:40px;
	text-align:right;
}
#buttonsContainer {
	background-color:gainsboro;
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:60px 60px 60px 60px;
	grid-gap:10px;
	padding:10px;
}

/* Button styling */
#buttonsContainer button {
	font-size:30px;
}
#btnEql {
	grid-row:2/5;
	grid-column:5/6;
	height:100%;
}
#buttonsContainer > button:hover {
	background-color:white;
	color:red;
}
.opButtons {
	background-color:black;
	color:orange;
}
.numButtons {
	background-color:darkgray;
	color:gold;
}
.otherButtons {
	background-color:gray;
	color:white;
}

/* Footer styling */
#footerbox {
	position:absolute;
	bottom:10px;
	margin-left:auto;
	margin-right:auto;
}
