/* Main body text elements */
body {
	background-color:gainsboro;
}
h1 {
	color:limegreen;
	background-color:gray;
	text-align:center;
}

/* Menu bar styling */
#menubar {
	list-style-type:none;
	width:200px;
	margin:0;
	padding:0;
	border:1px solid;
	height:100%;
	background-color:gray;
}
#menubar li {
	line-height:50px;
}
#menubar a {
	display:block;
	text-decoration:none;
	background-color:lightblue;
	color:brown;
	text-align:center;
}
#menubar a:hover {
	background-color:pink;
	color:blue;
}
#menubar .active {
	background-color:darkblue;
	color:white;
}

/* Div containters for buttons and result display */
.calculator {
	width:500px;
	margin-left:50%;
}
#res {
	background-color:white;
	border:solid;
	height:60px;
	font-size:30px;
}
#exp {
	background-color:lightgray;
	border:double;
	height:30px;
	font-size:20px;
}

/* Button styling */
#buttonsContainer > button {
	width:25%;
	height:60px;
	margin:0px;
	font-size:30px;
	float:left;
}
.opButtons {
	background-color:gray;
	color:white;
}
.numButtons {
	background-color:lightgreen;
	color:brown;
}
.otherButtons {
	background-color:black;
	color:lightgreen;
}

/* Footer styling */
#footerbox {
	position:absolute;
	bottom:10px;
	margin-left:auto;
	margin-right:auto;
}
